/* Boxes style sheet */

body {
	margin: 0;
}

#box1 {
	background-color: salmon;
	width: 30%;
	height: 100vh;
	/*display: inline-block;*/
	float: left;
}

#box2 {
	background-color: MediumAquamarine;
	width: 70%;
	/*display: inline;*/
	/*float: left;*/
	margin-left: 30%;
}

#box3 {
	background-color: Indigo;
	color: white;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.red {
	color: red;
}


