body {
	background-color: #dce3ed;
	margin-left: 20px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

table, td, th {
	border-collapse: collapse;
	border: 1px solid black;
}

td, th {
	min-width: 200px;
}

h4 {
	margin-top: 5px;
	margin-bottom: 2px;
}

.patron {
	border: 1px solid black;
	padding: 10px;
	max-width: 1000px;
	margin-top: 10px;
}

.patron p {
	margin: 2px;
}


.patron span {
	font-weight: bold;
}

#bookInfo p {
	font-weight: bold;
}

#bookInfo span {
	font-weight: normal;
	color: black;
}

.green {
	color: green;
}

.red {
	color: red;
}

#reviewText {
	height: 100px;
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: pre-wrap;
}

.reviewP {
	border: 3px dotted grey;
	margin: 10px;
	word-wrap: break-word;
}

.review {
	border: 1px solid black;
	margin-top: 5px;
	margin-right: 5px;
	width: 50%;
}

.bold {
	font-weight: bold;
}