#box1 {
	background-color: salmon;
	width: 30%;
	height: 100000px;
	/* display: inline-block; */
	float: left;
}

#box2 {
	background-color: mediumAquamarine;
	width: 70%;
	/* float: left; */
	/* display: inline-block; */
	margin-left: 30%;
}

#box3 {
	background-color: blue;
	color: white;
}

#box4 {
	position: relative;
	height: 100px;
	width: 100px;
    left: 200px;
    top: 100px;
	background-color: Gold;
}

.absolute {
	position: absolute;
}

.red {
	color: red;
}

.relative {
	position: relative;
}

body {
	margin: 0;
}

div {
	overflow: auto;
}