h1 {
	color: blue;
	background-color: green;
}

p {
	color: red;
	background-color: yellow;
}

.highlight {
	background-color: pink;
}

.font-blue {
	color: blue;
}

#css {
	color: brown;
}